* {
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
    padding: 30px;
    font-family: Arial;
}

.header {
    padding: 25px;
    text-align: center;
    background-color: white;
}

.header h1 {
    font-size: 35px;
}

.navigation {
    background-color: antiquewhite;
    overflow: hidden;
    text-align: center;
}

.navigation a {
    color: black;
    padding: 10px;
    text-decoration: none;
    float: left;
    display: block;
}

.navigation a:hover {
    background-color: aqua;
    color: black;
}

.left-column {
    float: left;
    width: 75%;
}

.right-column {
    float: left;
    width: 25%;
    background-color: lightcoral;
    padding-left: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: white;
    margin-top: 20px;
}

.card {
    background-color: beige;
    padding: 20px;
    margin-top: 20px;
}

.rowcontent:after {
    content: "";
    display: table;
    clear: both;
}